ADMIN_EMAILS=toanzin00001@gmail.com
ACCESSTRADE_API_KEY=
LAZADA_AFFILIATE_ID=
LAZADA_AFFILIATE_TEMPLATE=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
SHOPEE_AFFILIATE_ID=
SHOPEE_AFFILIATE_TEMPLATE=
TIKTOK_AFFILIATE_TEMPLATE=
TRACKING_SECRET=
